{% extends "layout.html" %}

{% block title %}
Keep Notes
{% endblock %}

{% block content %}
<a class="btn btn-primary mb-4 mt-4" href="{% url 'note_create' %}">Add Note</a>
<div class="container row gap-3">
    {% for note in notes %}
    <div class="card" style="width: 18rem;">
        {% if note.photo %}
        <img src="{{ note.photo.url }}" class="card-img-top" alt="Note Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ note.title }}</h5>
          <p class="card-text">{{ note.desc }}</p>
          <a href="{% url 'note_edit' note.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'note_delete' note.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}
